@charset "UTF-8";
.carne{
  /* width:227px; */
  width: 300px;
  height: 450px;
  border: 1px solid #000;
  float: left;
  padding:5px 10px;
}
.dadoscliente{
  padding:0 0px
}
.carne-border{
  border: 1px solid #000
}

.marcadaguacarne{
  position: absolute;
  margin-top: 11%;
  font-size: 130px;
  transform: rotate(41deg);
  opacity: 40%;
}

.table-endereco{
  border-collapse: collapse;
}
.table-endereco tr td {border:1px solid #000; padding:0;margin:0;}


@media print
{    
.break { page-break-after: always; }
}